.header__languages-item {
  text-decoration: none;
  color: #fff;
  padding-top: 13px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
}

@media (min-width: 320px) and (max-width: 767px) {

  .header__languages-item {
    font-size: 18px;
    line-height: 1.11;
    padding-top: 8px;
  }
}