.lead__image-wrapper {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {

  .lead__image-wrapper {
    max-width: 1024px;
    margin: 0 48px;
  }
}

@media (max-width: 768px) {

  .lead__image-wrapper {
    max-width: 768px;
    margin: 0;
  }
}