.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 768px) {

  .two-columns__main-text {
    gap: 25px;
  }
}


@media (min-width: 320px) and (max-width: 767px) {

  .two-columns__main-text {
    padding-left: 16px;
    padding-right: 16px;
    gap: 25px;
  }
}